{
    "extends": [
        "eslint:recommended"
    ],
    "ecmaFeatures": {
        "modules": true,
        "classes": true
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },

    "globals": {
        "Phaser": true
    }
}
